<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category id="org.eclipse.ocl.examples.emf.validation.ui"
      		name="Model Validation"/>
      <view id="org.eclipse.ocl.examples.emf.validation.debug.ui.validity"
            name="ValidityView"
            icon="icons/validation.gif"
            category="org.eclipse.ocl.examples.emf.validation.ui"
            class="org.eclipse.ocl.examples.emf.validation.debug.ui.view.ValidityView"/>
   </extension>
  
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/validation.gif"
            configTypeID="org.eclipse.ocl.examples.emf.validation.debug.launchConfigurationType"
            id="org.eclipse.ocl.examples.emf.validation.debug.ui.launching.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.ocl.examples.emf.validation.debug.launchConfigurationType"
            description="ValidityLaunchConfigurationGroupName"
            class="org.eclipse.ocl.examples.emf.validation.debug.ui.launching.ValidityTabGroup"
            id="org.eclipse.ocl.examples.emf.validation.debug.ui.launching.ValidityApplicationTabGroup">
      </launchConfigurationTabGroup>
   </extension>

       <extension
          point="org.eclipse.ocl.examples.emf.validation.debug.validity_exporter">
       <exporter
             class="org.eclipse.ocl.examples.emf.validation.debug.ui.export.util.HTMLExport"
             extension="html"
             name="HTMLExport">
       </exporter>
    </extension>
    <extension
          point="org.eclipse.ocl.examples.emf.validation.debug.validity_exporter">
       <exporter
             class="org.eclipse.ocl.examples.emf.validation.debug.ui.export.util.TextExport"
             extension="txt"
             name="TextExport">
       </exporter>
    </extension> 
</plugin>
